# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
NEXT_PUBLIC_ONCHAINKIT_API_KEY=f2juFUCADd96eWVVwxvAXrk8IVNWz6SV # https://onchainkit.xyz/installation/nextjs
NEXT_PUBLIC_CONTRACT_ADDRESS=0x35c58E1F27E48bF6130Bd45Be9a385723B21EA9C

# agentkit
CDP_API_KEY_NAME=your_cdp_key_name
CDP_API_KEY_PRIVATE_KEY=your_cdp_private_key
OPENAI_API_KEY=your_openai_key
NETWORK_ID="base-sepolia" # Optional, defaults to base-sepolia
